@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Fonts */
  --font-sans: "Inter", sans-serif;

  /* Base */
  --background: #ffffff;
  --foreground: #000000;

  /* Brand */
  --primary: #673bf6;
  --primary-muted: #5b61d1;
  --primary-soft: #e5e5ff;
  --primary-foreground: #ffffff;

  /* Borders */
  --border: #f0f0f0;

  /* Text */
  --text-normal: #000000;
  --text-heading: #000000;
  --text-primary: var(--primary);
  --text-muted: #737373;
  --text-brand: #082832;

  /* Buttons */
  --button-primary-bg: var(--primary);
  --button-primary-text: var(--primary-foreground);
  --button-primary-hover: var(--primary-dark);

  --button-secondary-bg: var(--primary-soft);
  --button-secondary-text: var(--primary);
  --button-secondary-hover: var(--primary-soft-hover);

  /* Radius */
  --radius-button: 0.5rem;
}

@theme inline {
  --font-sans: var(--font-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-muted: var(--primary-muted);
  --color-primary-soft: var(--primary-soft);
  --color-primary-foreground: var(--primary-foreground);

  --color-border: var(--border);

  --color-text-normal: var(--text-normal);
  --color-text-heading: var(--text-heading);
  --color-text-primary: var(--text-primary);
  --color-text-muted: var(--text-muted);
}

* {
  border-color: var(--border);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Text Variants */
.text-normal {
  color: var(--text-normal);
  font-weight: 400;
}

.text-heading {
  color: var(--text-heading);
  font-weight: 600;
  letter-spacing: -0.03em;
}

.text-primary-variant {
  color: var(--text-primary);
  font-weight: 500;
}

.text-muted {
  color: var(--text-muted);
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 14s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 14s linear infinite;
}
